#faq {
    color: #FAB325;
}

h1 {
    text-align: center;
    font-size: 30px;
    font-family: "Archivo Bold", sans-serif;
    margin-bottom: 30px;
}

h2 {
    text-align: left;
}

.vline {
    border-bottom: 5px solid #bfbfbf;
    padding-bottom: 5px;
}

main {
    width: 96%;
    padding: 0 2%;
    margin-top: 170px;
    font-family: "Roboto", sans-serif;
}

.content {
    display: flex;
}

.listQues {
    width: 30%;

}

main .content .listQues ul {
    text-decoration: none;
    list-style: none;

}

main .content .listQues ul li a:hover {
    background-color: #00000014;
    padding: 10px;
    border-radius: 10px;
}

.listQues ul li {
    padding-bottom: 15px;
}

.content .commonQ {
    width: 70%;

}

.vertical-line {
    width: 1px;
    background-color: #0000002e;
    height: 100px;
    float: left;
}

.vertical-line1 {
    width: 1px;
    background-color: #0000002e;
    height: 260px;
    float: left;
}

.commonQ hr {
    border: none;
    border-top: 1px dotted #0000004f;
    color: #fff;
    background-color: #fff;
    height: 1px;
    width: 80%;
}

.commonQ h2 {
    text-align: center;
}

.commonQ ul {
    margin-left: 170px;
}

.commonQ ul li {
    padding-bottom: 15px;
}

.commonQ ul li a {
    text-transform: capitalize;
    color: rgb(2, 95, 142);
    font-size: 20px;

}

.commonQ h1 {

    font-weight: revert;
    text-transform: capitalize;
    margin-top: -10px;
}

.commonQ .answer {
    margin-left: 75px;
}


@media screen and (max-width: 1023px) {
    .listQues {
        display: none;
    }


    .commonQ ul {
        margin-left: 20px
    }

    .commonQ {
        margin-left: 30px;
    }
}

@media screen and (max-width: 450px) {
    .content .commonQ {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .content .commonQ .answer {
        margin-left: auto;
        margin-right: auto;
    }
}