.commonQ{
    margin-top: 200px;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 50px;
}
h1,h2{
    font-family: "Archivo", sans-serif;

}
@media screen and (min-width: 768px) and (max-width: 1023px) {


    .commonQ {
          /* float: left; */
    width: 90%;
    margin-left: 30px;
    }
}



@media screen and (max-width: 767px) {

    .commonQ {
        
        width: 90%;
        margin-left: 20px;
        margin-right: 20px;
    }
}

