main {
    margin-top: 160px;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
}
legend {
    margin: auto;
    font-family: "Archivo", sans-serif;
    font-size: 50px;
}
.input-design {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
.input-design:focus {
    background-color: rgb(236, 236, 236); 
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
fieldset {
    width: 50%;
    margin-bottom: 16.2%;
  }
main > span {
    margin-left: 50%;
}
.fpass {
    text-align: right;
}
.no-regis {
    text-align: right;
}
.rsp > label {
    text-align: center;
}
.rsp > label > p {
    font-size: large;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
button:hover {
      background-color: rgb(158, 154, 154);
}
