h1 {
    margin: auto;
    font-family: "Archivo", sans-serif;
    font-size: 50px;
}

main {
    margin-top: 25px;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
}

p {
    font-size: larger;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}
  
img.avatar {
    width: 40%;
    border-radius: 50%;
}

.input100 {
    display: flex;
    width: 100%;
    line-height: 1.2;
    border: 0px;
    outline: none;
    padding: 0.5rem 0.7rem;
    background-color: #f7f7f7;
    font-size: 25px;
}

.form-group {
    font-size: 150%;
    margin-bottom: 1rem;
    width: 100%;
    display: flex
}

.bg1 {
    background-color: #f7f7f7;
}

.wrap-input150 {
    width: 60%;
    position: relative;
    border: 1px solid #e6e6e6;
    border-radius: 13px;
    padding: 10px 30px 9px 22px;  
    margin: auto;
    margin-bottom: 20px;
}

* {
    margin: 0;
}