#contact {
    color: #FAB325;
}

main {
    margin-top: 140px;
    margin-left: 13%;
    margin-right: 13%;
    display: block;
    font-family: "Roboto", sans-serif;
}

h1 {
    text-align: center;
    font-size: 30px;
    font-family: "Archivo Bold", sans-serif;
    margin-bottom: 30px;
}

.vline {
    border-bottom: 5px solid #bfbfbf;
    padding-bottom: 5px;
}

form {
    font-size: 16px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Roboto", sans-serif;
}

.wrap-input150 {
    width: 60%;
    position: relative;
    border: 2px solid #e6e6e6;
    border-radius: 13px;
    padding: 10px 30px 20px 22px;
    margin-bottom: 30px;
    background-color: #f7f7f7;
}

#purpose {
    width: 100%;
    height: 40px;
    padding-left: 15px;
    font-size: 16px;
}

#purpose option[value="0"] {
    color: #bfbfbf;
}

.form-group {
    font-size: 20px;
    margin-bottom: 1rem;
    width: 100%;
    display: flex
}

.input100 {
    display: flex;
    width: 97%;
    height: 40px;
    border: 0px;
    outline: none;
    border-radius: 1px solid #bfbfbf;
    font-size: 16px;
    padding-left: 20px;
}

.required:after {
    content: "\00a0 *";
    color: #e60202;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus {
    background-color: rgb(236, 236, 236);
    outline: 0;
}

/*radio starts*/
input[type="radio"]~#num {
    margin-left: 40px;
}

/*checkbox starts*/
input[type="checkbox"] {
    margin-bottom: 20px;
}

textarea {
    display: flex;
    outline: none;
    border: none;
    resize: none;
}

#messLabel {
    font-size: 20px;
}

#mess {
    margin-top: 1rem;
    font-size: 18px;
    width: 97%;
    padding-left: 20px;
    padding-top: 10px;
    font-family: "Roboto", sans-serif;
}

/*button starts*/
.button-control {
    display: flexbox;
}

input[type="submit"],
input[type="reset"] {
    border-radius: 30px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    padding: 10px 30px;
    margin: 4px 15px 30px 0;
}

input[type="submit"] {
    background-color: rgb(2, 95, 142);
    color: #fff;
    cursor: pointer;
    border: none;
}

input[type="reset"] {
    border: 2px solid rgb(2, 95, 142);
    background-color: #fff;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    font-size: 20px;
}