#faq {
    color: #FAB325;
}

h1 {
    text-align: center;
    font-size: 30px;
    font-family: "Archivo Bold", sans-serif;
    margin-bottom: 30px;
}

.vline {
    border-bottom: 5px solid #bfbfbf;
    padding-bottom: 5px;
}

main {
    width: 100%;
    margin-left: 13%;
    margin-right: 13%;
    margin-top: 160px;
    font-family: "Roboto", sans-serif;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.content .commonQ {
    list-style-type: square;
}

/* 
.commonQ hr {
    border: none;
    border-top: 1px dotted #0000004f;
    color: #fff;
    background-color: #fff;
    height: 1px;
    width: 80%;
}

.commonQ h2 {
    text-align: center;
}

.commonQ ul {
    margin-left: 170px;
}

.commonQ ul li {
    padding-bottom: 15px;
}

.commonQ ul li a {
    text-transform: capitalize;
    color: rgb(2, 95, 142);
    font-size: 20px;

}

.commonQ h1 {

    font-weight: revert;
    text-transform: capitalize;
    margin-top: -10px;
}

.commonQ .answer {
    margin-left: 75px;
} */

.back-top {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 30px;
    right: 80px;
    background-color: lightgray;
    border-radius: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    font-size: 22px;
}

.back-top:hover {
    background-color: rgb(2, 95, 142);
    color: #fff;
}

/* @media screen and (max-width: 1023px) {
    .listQues {
        display: none;
    }


    .commonQ ul {
        margin-left: 20px
    }

    .commonQ {
        margin-left: 30px;
    }
}

@media screen and (max-width: 450px) {
    .content .commonQ {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .content .commonQ .answer {
        margin-left: auto;
        margin-right: auto;
    }

    .back-top {
        right: 20px;
    }
} */