* {
    font-family: "Roboto", sans-serif;
    letter-spacing: 1px;
}

fieldset {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 0 auto;
    background-color: whitesmoke;
    padding: 30px 50px;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

legend {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

label {
    font-size: 18px;
    padding-bottom: 10px;
    cursor: pointer;
}

input {
    height: 25px;
}

input[type="submit"] {
    margin-top: 20px;
    border-radius: 25px;
    border: none;
    background-color: rgb(158, 158, 158);
    height: 40px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: rgb(2, 95, 142);
}

.errPHP {
    color: red;
    margin-bottom: 20px;
}

.account {
    display: block;
    margin: 0 auto;
    width: fit-content;
    margin-top: 50px;
}

.account p {
    font-size: 18px;
    letter-spacing: 1px;
    color: rgb(2, 95, 142);
    font-weight: bold;
}