#account {
  color: #FAB325;
}

main {
  margin-top: 160px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

fieldset {
  width: 50%;
  margin-bottom: 7.7%;
}

legend {
  margin: auto;
  font-size: 2em;
  font-weight: bold;
}

.vline {
  border-bottom: 5px solid #bfbfbf;
  padding-bottom: 5px;
}

.input-field {
  margin: 0 20px 10px 20px;
}

.input-field:first-of-type {
  margin-top: 30px;
}

.input-field label {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
}

.input-design {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 16px;
}

.input-design:focus {
  background-color: rgb(236, 236, 236);
  outline: none;
}

#Tuan {
  text-align: center;
  background-color: rgb(158, 154, 154);
  color: #fff;
  padding: 14px 20px;
  margin: 10px 20px 30px 20px;
  margin-left: 15px;
  padding-left: 0px;
  border: none;
  cursor: pointer;
  width: 95%;
  -webkit-box-shadow: 0px 7px 7px -4px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 7px 7px -4px rgba(0, 0, 0, 0.4);
}

#Tuan:hover {
  background-color: rgb(2, 95, 142);
}

#Tuan>span {
  font-size: 18px;
  letter-spacing: 2px;
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
  margin: 0 20px 20px 20px;
}

.subcontainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.subcontainer a {
  color: #727272;
  padding-bottom: 5px;
}

.subcontainer a:hover {
  text-decoration: underline;
}

.subcontainer a:active {
  color: rgb(2, 95, 142);
}



@media screen and (max-width:600px) {
  fieldset {
    width: 70%;
    margin-bottom: 7.7%;
  }
}

@media screen and (max-width:450px) {
  fieldset {
    width: 90%;
    margin-bottom: 7.7%;
  }
}