#account {
    color: #FAB325;
}

main {
    margin-top: 140px;
    margin-left: 13%;
    margin-right: 13%;
    display: block;
}

h1 {
    text-align: center;
    font-size: 30px;
    font-family: "Archivo Bold", sans-serif;
    margin-bottom: 30px;
}

.vline {
    border-bottom: 5px solid #bfbfbf;
    padding-bottom: 5px;
}

p {
    font-size: larger;
}

label {
    font-size: larger;
}


input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus {
    border-color: #7db0fb;
    outline: 0;
}

input[type="submit"],
input[type="reset"] {
    background-color: #2b2b2b71;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: rgb(2, 95, 142);
}


textarea {
    outline: none;
    border: none;
    resize: none;
}

button {
    background-color: #0d3efd;
}


#mon,
#tue,
#wed,
#thu,
#fri,
#sat,
#sun {
    margin-left: 25px;

}

#name,
#mail,
#phonenum {
    display: block;
}

#smail {
    margin-left: 25px;
}

#num {
    margin-left: 40px;
}

#Mess {
    font-size: 150%;
    width: 100%;
    display: flex
}

#cp {
    margin-right: 50px;
}

#purpose {
    width: 100%;
    height: 40px;
}

#shopper {
    margin-left: 5%;
}

#countries {
    height: 30px;
    width: 100%;
}

#sc {
    height: 30px;
    width: 50%;
    min-width: 250px;
}

#countries:focus {
    border-color: #0d3efd;
}

#sc:focus {
    border-color: #0d3efd;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.input-design {
    display: block;
    width: 100%;
    line-height: 1.2;
    border: 0px;
    outline: none;
    padding: 0.5rem 0.7rem;
    background-color: #f7f7f7;
    font-size: 25px;
}

.form-group:after {
    content: "*";
    color: red;
}

.form-group1 {
    font-size: 150%;
    margin-bottom: 1rem;
    width: 100%;
    display: flex
}

.form-group {
    font-size: 150%;
    margin-bottom: 1rem;
    width: 100%;
    display: flex
}

.form-group1 {
    font-size: 150%;
    margin-bottom: 1rem;
    width: 100%;
    display: flex
}

.bg0 {
    background-color: #fff;
}

.bg1 {
    background-color: #f7f7f7;
}

.button-control {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    margin-right: 40%;
    margin-bottom: 2%;
}

.wrap-input150 {
    width: 60%;
    position: relative;
    border: 1px solid #e6e6e6;
    border-radius: 13px;
    padding: 10px 30px 9px 22px;
    margin: auto;
    margin-bottom: 20px;
}

.note {
    background-color: #f7f7f7;
    border: 1px solid #e6e6e6;
    border-radius: 13px;
    margin-bottom: 1.5%;
}

.right {
    display: inline-block;
    width: 50%;
}

.vertical-left {
    width: 60%;
    position: relative;
    padding: 10px 30px 9px 22px;
    margin: auto;
    margin-bottom: 20px;
    background-color: white;
    height: 76.203;
}

.inform {
    font-size: medium;
    width: 98% !important;
}

input[value="storeowner"]:checked~.otoke {
    display: block !important;
}