
body{
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: "Roboto", sans-serif;
  }

/*header*/
header{
    width: 90%;
    position: fixed;
    top: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5%;
    -webkit-box-shadow: 0px 9px 3px -2px rgba(0,0,0,0.2);
    box-shadow: 0px 9px 3px -2px rgba(0,0,0,0.2);
    z-index: 2;
    background-color: #fff;
}

header li, a, button{
    font-family: "Archivo", sans-serif;
    color: #000;
    font-size: 16px;
    text-decoration: none;
}

.logo{
    width: 60px;
    display: inline-block;
    margin-top: 12px;
    cursor: pointer;
    height: 60px;
    float: left;
}

.LogoName span{
    font-family: "Archivo", sans-serif;
    font-size: 35px;
    font-weight: bold;
    display: inline-block;
    padding: 25px 20px;
}

.navLinks{
    list-style-type: none;
}

.navLinks li{
    padding: 15px 20px;
    display: inline-block;
}

.navLinks li a{
    transition: all 0.3s ease 0s;
    padding:25px 0px;
}

.navLinks li:hover a{
    font-size: 25px;
    padding: 0px 20px;
    color: #F29F05;
}

.navLinks .Browse .BrowseText{
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.navLinks .Browse{
    position: relative;
}

/* Browse DropDown*/
.BrowseDropDown{
    cursor: pointer;
    position: absolute;
    top:100%;
    left:0;
    width: 100%;
    padding: 0;
    display: none;
    width: fit-content;
}

.BrowseDropDown li{
    color:#b8b8b8;
    perspective: 1000px;
    display: inline-block;
    background: #212121;
    box-sizing: border-box;
    padding: 10px 25px;
    float: left;
    clear: left;
    width: fit-content;
}

.BrowseDropDown .BrowseDropDownEnd{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius:10px;
}

.navLinks .Browse:hover> .BrowseText{
    font-size: 25px;
    padding: 0px 20px;
    color:#F29F05;
}

.navLinks .BrowseDropDown li:hover{
    background-color:#4d4d4d;
}

.navLinks .Browse:hover .BrowseDropDown{
    box-sizing: border-box;
    font-size: 16px;
    letter-spacing: 0px;
    display: block;
}

.navLinks .Browse .BrowseDropDownInfo{
    display: none;
}

.navLinks .Browse:hover .BrowseDropDownInfo:nth-child(1){
    display: block;
    animation: dropDownAnimation 300ms ease normal;
    animation-delay: -100ms;
}

.navLinks .Browse:hover .BrowseDropDownInfo:nth-child(2){
    display: block;
    animation: dropDownAnimation 300ms ease normal;
    animation-delay: 200ms;
}

@keyframes dropDownAnimation {
    0%{
      opacity: 0;
      transform:translateX(-100px);
    }
    70%{
      opacity: 0;
      transform:translateX(20px);
    }
    100%{
      opacity: 1;
      transform: translateX(0px);
    }
}
  
/*main content starts here*/
h1 {
    text-align: center;
    margin-top: 140px;
}
.mall-section {
    display: block;
    width: 100%;
    margin-bottom: 80px;
}
.featured-store {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.new-store {
    display: grid;
    grid-template-rows: repeat(2, 10rem);
    grid-template-columns: repeat(4, 10rem);
    justify-content: center;
    justify-items: center;
    align-items: center;
    row-gap: 2rem;
    column-gap: 3rem;
}
.store-logo {
    width: 10rem;
    height: 10rem;
    margin: 0 1.5rem;
    align-items: center;
    object-fit: fill;
}
.store-one {
    grid-column: 1/span 2;
    width: 23rem;
}   
.store-six {
    grid-column: 3/span 2;
    width: 23rem;
}
.featured-product {
    display: grid;
    grid-template-rows: repeat(4, 8rem);
    grid-template-columns: repeat(3, 16rem);
    justify-content: center;
    justify-items: center;
    column-gap: 4rem;
}
.product-img {
    width: 12rem;
    height: auto;
    object-fit: contain;
} 
.pro-one {
    grid-row: 1/span 2;
}
.pro-one {
    grid-column: 2;
    grid-row: 2/span 2;
}
.pro-three {
    grid-column: 3;
    grid-row: 3/span 2;
}
.new-product {
    display: grid;
    grid-template-rows: repeat(2, 12rem);
    grid-template-columns: repeat(4, 12rem);
    justify-content: center;
    justify-items: center;
    column-gap: 4rem;
    row-gap: 2rem;
}
.product-new {
    width: 12rem;
    height: 12rem;
    object-fit: contain;
}
.new-one {
    grid-row: 1/3;
    height: 18rem;
    margin-top: 30%;
}

/*footer*/
footer {
    color:#fff;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 5px 10%;
    background-color: #333;
    -webkit-box-shadow: 0px -3px 4px 2px rgba(0,0,0,0.15);
    box-shadow: 0px -3px 4px 2px rgba(0,0,0,0.15);
    font-family: "Archivo", sans-serif;
    height: 100px;
}

footer .CopyRight{
    display: inline-flex;
    margin-top: 10px;
    margin-left: 50px;
}

.Policy ul li{
    display: inline-flex;
    list-style: none;
    margin: 5px;
}
