.cart{
    display: flex;
    margin-top: 150px;
}
.cart .blank1{
    width: 20%;
}
.products{
    
    width: 46%;

}
.money{
    width: 20%;
}
.blank2{
    width: 20%;
}
.item1{
    display: flex;
}
.img{
    width: 20%;
}
.inforItem{
    width: 30%;
}
.price{
    width: 18%;
}
.item1{
    padding-top: 12px;
}
.dropdown{
    width: 10%;
}
.dropbtn {
    background-color: white;
    color: black;
    padding: 8px;
    font-size: 16px;
    border: 1px solid;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 8px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  hr{
    border: 0;
    border-top: 2px solid #eee;
    margin: 20px 0;
    width: 80%;
  }
  .dropdown-content a {
    color: black;
    padding: 9px 9px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color:white;
  }
.money{
    background-color: #ebebeb;
}


.money h4{
    font-weight: bolder;
    text-align: center;
    padding-top: 50px;
}

.order{
    background-color: white;
    margin: 25px;
    padding: 15px;
    
}
.order .hr1{
    border: 0;
    border-top: 2px solid #eee;
    margin: 10px 0;
    width: 95%;
}
.order h6{
    font-size: 14px;
    line-height: 20px;
    color: #000;
    font-weight: normal
}
.order h6 span{
    padding-left: 70px;

}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .blank1{
        width: 0;
    }
    .products{
        width: 343%;
        margin-left: -23px;
    }
    .money{
        width: 40%;
        
    }
    .blank2{
        width: 0%;
    }
    footer{
        margin-top: 263px;
    }
}




@media screen and (max-width: 767px) {
    .products {
        float: left;
        width: 5%;
        margin-left: 10px;
    }
  
    .money {
        background-color: #e5e5e5;
        /* float: left; */
        width: 80%;
        /* padding: 27px; */
        margin-top: 490px;
        text-align: center;
        margin-left: -30px;
        width:100%;
    }
    .products .item1 .img{
        margin-left: -66px;
    }
    .products .item1 .inforItem{
        margin-left: 100px;
    }
    .products .item1 .price{
        margin-left: 145px;
    }
    .products .item1 .dropdown{
        margin-left: 95px;
    }
    .products h3{
        margin-left: -66px;
        inline-size: max-content;
    }
    .products .continueS{
        margin-left: -95px;
    }
} 

