
 @keyframes imageAnimation { 
     0% { opacity: 0; animation-timing-function: ease-in; }
     8% { opacity: 1; animation-timing-function: ease-out; }
     17% { opacity: 1 }
     25% { opacity: 0 }
     100% { opacity: 0 }
 }
 
 
 @keyframes titleAnimation { 
     0% { opacity: 0 }
     8% { opacity: 1 }
     17% { opacity: 1 }
     19% { opacity: 0 }
     100% { opacity: 0 }
 }
 
 
 .no-cssanimations .cb-slideshow li span {
    opacity: 1;
 }



 
 #slideshow {
   overflow: hidden;
   height: 510px;
   width: 728px;
   margin: 100px;
   margin-left: 80px;
   margin-top: 170px;
   background-color: #edeff0
 }
 
 .slide-wrapper {
   width: 2912px;
   -webkit-animation: slide 18s ease infinite;
 }
 
 .slide {
   float: left;
   height: 510px;
   width: 728px;
 }
 
 .slide:nth-child(1) {
   background-image: url("/imgs/Nike/Nike1/Image\ 4-16-21\ at\ 13.14.jpg");
 }
 
 .slide:nth-child(2) {
   background-image: url("/imgs/Nike/Nike1/UNADJUSTEDNONRAW_thumb_3b9.jpg")
 }
 
 .slide:nth-child(3) {
   background-image: url("/imgs/Nike/Nike1/Image\ 4-16-21\ at\ 13.24.jpg")
 }
 
 .slide:nth-child(4) {
   background-image: url("/imgs/Nike/Nike1/Image\ 4-16-21\ at\ 13.25.jpg")
 }
 
 .slide-number {
   color: #000;
   text-align: center;
   font-size: 10em;
 }
 
 @-webkit-keyframes slide {
   20% {margin-left: 0px;}
   30% {margin-left: -728px;}
   50% {margin-left: -728px;}
   60% {margin-left: -1456px;}
   70% {margin-left: -1456px;}
   80% {margin-left: -2184px;}
   90% {margin-left: -2184px;}
 }
 


 /* information of item */
.introProduct .infoItem ul li{
   display: inline;
 }

 .introProduct .infoItem ul li a{
   padding-right: 30px;
  
   color: blue;
   font-size: 20px;
   font-weight: bolder;
}
 .introProduct .infoItem ul{
   margin-top: -80px;
}
 .infoItem hr {
   border: none;
   border-top: 2px solid #edeff0;
   color: #fff;
   background-color: #fff;
   height: 1px;
   width: 65%;
   margin-left: 110px;
   margin-bottom: 80px;
}

.introProduct .infoItem ul li a:hover{
   color: cadetblue;
   font-size: 30px;
}

.productItem{
   display: flex;
}
/* .orderPlace{
   margin: 200px;
} */
.introProduct{
   width: 70%;
}
.orderPlace{
   width: 30%;
   margin-top: 200px;
   margin-left: -65px;
}

.orderPlace hr{
   border: none;
   border-top: 2px solid #edeff0;
   color: #fff;
   background-color: #fff;
   height: 1px;
   width: 110%;
   margin-left: -40px;
   margin-top: -30px;
   
}
.introProduct #Description{
   display: flex;
   margin-bottom: 80px;
}
.introProduct  #Description .DescriptionItem{
   width: 50%;
   margin-left: 50px;;
   /* margin-right: -63px; */
   text-align: justify;
   /* padding-right: 120px; */
   margin-right: 50px;
}
.introProduct #Description .imgItem{
   background-image: url("/imgs/Nike/Nike1/Image\ 4-16-21\ at\ 13.14.jpg");
   width: 50%;
   height: 370px;
   background-position:50% 50%;
   background-size: contain;
   background-repeat: no-repeat;
   margin-right: 170px;
   object-fit: cover
}


#detail{
   display: flex;
}
#detail ul{
   width: 50%;
}
#detail .ul1{
   margin-left: 25px;
}

#detail .ul2{
   margin-left: -120px;
}
#detail .ul1 li{
   padding-bottom: 25px;
   font-size: 14px;
}
#detail .ul2 li{
   padding-bottom: 25px;
   font-size: 14px;
}


/* review, part comment */

h2{
  color:#000;
  text-align:center;
  font-size:2em;
}
.warpper{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-left: 70px;
}
.tab{
  cursor: pointer;
  padding:10px 20px;
  margin:0px 2px;
  background:#000;
  display:inline-block;
  color:#fff;
  border-radius:3px 3px 0px 0px;
  box-shadow: 0 0.5rem 0.8rem #00000080;
}
.panels{
  background:#fffffff6;
  box-shadow: 0 2rem 2rem #00000080;
  min-height:200px;
  width:100%;
  max-width:500px;
  border-radius:3px;
  overflow:hidden;
  padding:20px;  
}
.panel{
  display:none;
  animation: fadein .8s;
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
.panel-title{
  font-size:1.5em;
  font-weight:bold
}
.radio{
  display:none;
}
#one:checked ~ .panels #one-panel,
#two:checked ~ .panels #two-panel,
#three:checked ~ .panels #three-panel{
  display:block
}
#one:checked ~ .tabs #one-tab,
#two:checked ~ .tabs #two-tab,
#three:checked ~ .tabs #three-tab{
  background:#fffffff6;
  color:#000;
  border-top: 3px solid #000;
}

.panel ul{
   margin-left: -40px;
   margin-bottom: 40px;
}

.panel ul li{
   display: inline;

}
.panel ul li:last-child{
   margin-left: 300px;
   color: grey;
}
.comment{
   display: flex;
}
.comment .rating{
   width: 23%;
   height: 100px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #2ada71;
   margin-left: 50px;
   margin-top: 10px;
}
.comment .rating ul li{
   display: inline;
}
.rating .ratingN{
   margin-top: 20px;
}
.rating .ratingN span{
   font-weight: bolder;
   font-size: 40px;
}
.ratingN ul li{
   display: inline;
}
.ratingN ul{
   margin-top: -52px;
   margin-left: 25px;
}
.ratingN p{
   margin-left: 65px;
}

.rating hr{
   margin-top: 191px;
   margin-left: -260px;
   width: 180px;
   border: solid;
   border-radius: 20px;
   background-color: #2ada71;
   border-color: #2ada71;
}
.rating .hr2{
   margin-top: 260px;
   margin-left: -188px;
   width: 180px;
   border: solid;
   border-radius: 20px;
   background-color: #6d8194;
   border-color: #6d8194;
}
.rating .hr3{
   margin-top: 333px;
   margin-left: -188px;
   width: 180px;
   border: solid;
   border-radius: 20px;
   background-color: #6d8194;
   border-color: #6d8194;
}
.rating .hr4{
   margin-top: 412px;
   margin-left: -187px;
   width: 180px;
   border: solid;
   border-radius: 20px;
   background-color: #6d8194;
   border-color: #6d8194;
}
.rating .hr5{
   margin-top: 486px;
   margin-left: -187px;
   width: 180px;
   border: solid;
   border-radius: 20px;
   background-color: #6d8194;
   border-color: #6d8194;
}
/* orderPlace */
.orderPlace .size button{

    height: 30px;

    justify-content: center;
    text-align: center;
    align-items: center;
    line-height: 1em;
    cursor: pointer;
    letter-spacing: -0.2px;
    font-size: 13px;
    width: 70px;
    margin-bottom: 15px;
    margin-left: 8px
}
.orderPlace .size button:hover{
   background-color: black;
   color: white;
}

.cart button{
   width: 230px;
   height: 40px;
   border-radius: inherit;
   margin-top: 70px;
   background-color: black;
   color: white;
   margin-left: 90px;
   cursor: pointer;
}

.cart button span i{
   text-align: right;
   padding-left: 85px;
   font-size: 30px;
   
}


.delivery h3{
   font-size: 16px ;
}
.delivery{
   margin-top: 50px;
   margin-left: 65px;
}
.delivery h5{
   text-decoration: underline;
   cursor: pointer;
   margin-bottom: 5px;
   margin-left: 25px;
}

.cart{
   margin-top: -35px;
}


@media screen and (min-width: 768px) and (max-width: 1023px) {
   .orderPlace{
      margin-top: 808px;
   }
   .introProduct #slideshow{
      margin-left: -15px;
   }
   .introProduct{
      margin-left: 35px;
   }
   .introProduct .infoItem ul li{
      margin-left: -13px;
   }
   #Description{
      margin-left: 10px;
   }
   #Description .imgItem{
      display: none;
   }
   #detail .ul2{
      margin-left: 10px;
   }
   .comment .warpper{
      margin-left: 165px;
   }
   .comment .rating{
      display: none;
   }
   .cart {
      margin-left: -100px;
   }
   .cart #id01 img{
      margin-left: 85px !important;
   }
   .cart #id01 button{
      margin-left: 120px !important;
      margin-top: 35px !important;
   }
}


@media screen and (max-width: 767px) {
   .introProduct #slideshow{
      width: 142%;
      height: 527px;
      margin-left: 1px;
   }
   
   .orderPlace{
      margin-bottom: 808px;
      display: grid;
      margin-left: -215px;
    
   }
   .infoItem{
      display: none;
   }
   .orderPlace .namePrice{
      margin-top: 20px;
   }
   .orderPlace .size{
      margin-top: -537px;
   }
   .orderPlace .cart{
      margin-top: -959px;
   }
   #Description{
      margin-top: 700px;
   }
   .comment .rating{
      display: none;
   }
   .introProduct{

   }
   #detail .ul1{
      margin-left: -8px;
   }
   #detail .ul2{
          margin-left: 65px;
   }
   .comment{
      margin-left: -50px;
   }
} 





 

 
